nav{
    padding: 4px 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 0px #E5E9F2;
}
nav .badge{
    width: 120px;
    margin: 0 2px;
}
nav select{
    direction: rtl;
    border: none;
    margin: 0 4px 0 0;
    background-color: #0000;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #212529;
}
nav select:nth-of-type(1){
    margin: 0 0 0 28px;
}
nav .flag{
    padding: 0 10px 0 0;
    margin: 0 0 0 -8px;
}
nav .logo{
    width: 56px;
}
nav .search{
    width: 54%;
}
nav .search input{
    width: 100%;
    height: 48px;
    direction: rtl;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 8px 24px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border: none;
    outline: none;
}
nav .search input::placeholder{
    font-family: 'Cairo';
    font-size: 16px;
    line-height: 24px;
    color: #a6a6a6;
}
nav .search img{
    position: absolute;
    top: 17px;
    left: 16px;
}

.second-nav{
    background: #B92728;
    box-shadow: 0px 1px 0px #E5E9F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px 16px;
    align-items: center;
}
.second-nav .items{
    display: flex;
    flex-wrap: wrap;
}
.second-nav .items .item{
    display: flex;
    flex-direction: column;
    padding: 4px 12px;
    margin: 0 4px;
    color: #fff;
}
.second-nav .items .item img{
    height: 20px;
}
.second-nav .items .item p{
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    margin: 2px 0 0 0;
}
.second-nav .tabs{
    display: flex;
    flex-wrap: wrap;
}
.second-nav .tabs .tab{
    display: flex;
    color: #fff;
    padding: 10px 16px;
    margin: 0 4px;
}
.second-nav .tabs span{
    height: 44px;
    width: 2px;
    background-color: #c4c4c4;
    margin: 0 6px 0 0;
}
.second-nav .tabs .menu{
    background-color: #0000;
    border: none;
    direction: rtl;
    padding: 6px 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.ads{
    background-color: #364B70;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ads span{
    font-family: 'Cairo';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #fff;
    letter-spacing: 1.5px;
    margin: 8px;
}
.ads img{
    margin: 0 10px;
}

.banner > img{
    width: 100%;
}
.banner :is(.right, .left){
    position: absolute;
    top: 44.8%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8);
    display: grid;
    place-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.banner .left{
    left: 22px;
}
.banner .right{
    right: 22px;
}
.banner .tabs{
    display: flex;
    position: absolute;
    top: calc(100% - 24px);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
}
.banner .tabs div{
    width: 9px;
    height: 9px;
    background: #323232;
    opacity: 0.6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}
.banner .tabs div.active{
    background: #B92728;
    opacity: 1;
    width: 18px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.categories{
    padding: 10px;
    display: flex;
    align-items: flex-start;
}
.categories div{
    padding: 10px;
    text-align: center;
}
.categories div img{
    width: 100%;
}
.categories div p{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #212529;
}

.sales{
    background: rgba(121, 136, 151, 0.1);
    padding: 16px 10px;
    margin: 40px 0;
    display: flex;
    align-items: flex-start;
}
.sales .col{
    padding: 16px;
}
.sales .col > div{
    display: flex;
    background: #B92728;
    padding: 8px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.sales .col > div .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 2px;
}
.sales .col > div .text p{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}
.sales .col > div .text span{
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #fff;
    margin: 22px 0;
}

.countdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 120px);
    margin: 10px auto;
    padding: 20px 10px 0 10px;
    flex-wrap: wrap;
}
.countdown .timer{
    display: flex;
    flex-wrap: wrap;
}
.countdown .timer > span{
    margin: 0 12px 0 8px;
    font-size: 50.2222px;
    line-height: 22px;
    color: #364B70;
}
.countdown .timer > div{
    text-align: center;
}
.countdown .timer > div p{
    background: #364B70;
    box-shadow: 0px 5.58025px 5.58025px rgba(0, 0, 0, 0.25);
    color: #fff;
    height: 36px;
    width: 60px;
    font-size: 33.4815px;
    line-height: 22px;
    display: grid;
    place-items: center;
    font-family: 'Syncopate';
}
.countdown .timer > div span{
    font-size: 19.5309px;
    line-height: 33px;
    color: #364B70;
}
.countdown .title{
    display: flex;
    align-items: center;
    background: #364B70;
    padding: 12px 60px;
    flex-wrap: wrap;
    border-radius: 50px 0px 50px 0px;
    -webkit-border-radius: 50px 0px 50px 0px;
    -moz-border-radius: 50px 0px 50px 0px;
    -ms-border-radius: 50px 0px 50px 0px;
    -o-border-radius: 50px 0px 50px 0px;
}
.countdown .title p{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: right;
    margin: 0 0 0 8px;
}

.just-text{
    text-align: center;
}
.just-text > p:nth-of-type(1){
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;    
    color: #323232;
}
.just-text > p:nth-of-type(2){
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #B92728;
    margin: 12px 0;
}
.just-text > p:nth-of-type(2) span{
    color: #323232;
}
.just-text div{
    background: #FFFFFF;
    border: 2px dashed #B92728;
    padding: 5px;
    width: 90%;
    max-width: 1200px;
    margin: 32px auto;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.just-text div p{
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    color: #FFFFFF;
    background: #B92728;
    padding: 16px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.today-sales{
    background: #FFF6F2;
    padding: 20px 10px;
}
.today-sales .headers{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto 30px auto;
}
.today-sales .headers a{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    background-color: #B92728;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.today-sales .headers p{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}
.today-sales .headers p span{
    color: #B92728;
}
.today-sales .row .col{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.today-sales .row .col > img{
    width: 100%;
}
.today-sales .row .col > div{
    background-color: #fff;
    border: 1px solid #E5E9F2;
    padding: 10px 20px;
    text-align: right;
}
.today-sales .row .col > div > p{
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #212529;
}
.today-sales .row .col > div .rating{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}
.today-sales .row .col > div .rating .stars{
    display: flex;
    align-items: center;
}
.today-sales .row .col > div .rating .stars span{
    font-size: 12px;
    line-height: 16px;
    color: #515151;
    margin: 0 10px;
}
.today-sales .row .col > div .rating .text{
    font-size: 12px;
    line-height: 16px;
    color: #515151;
}
.today-sales .row .col > div .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 6px 0;
}
.today-sales .row .col > div .card-footer p{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #B92728;
}
.today-sales .row .col > div .card-footer span{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #323232;
    margin: 0 20px 0 0;
}
.today-sales .row .col > div .card-footer a{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 6px 12px;
    background-color: #B92728;
    cursor: pointer;
    border-radius: 50px 0px 50px 0px;
    -webkit-border-radius: 50px 0px 50px 0px;
    -moz-border-radius: 50px 0px 50px 0px;
    -ms-border-radius: 50px 0px 50px 0px;
    -o-border-radius: 50px 0px 50px 0px;
}

.sales-24h .title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #364B70;
    padding: 8px 60px;
    flex-wrap: wrap;
    width: fit-content;
    margin: 40px auto;
    border-radius: 50px 0px 50px 0px;
    -webkit-border-radius: 50px 0px 50px 0px;
    -moz-border-radius: 50px 0px 50px 0px;
    -ms-border-radius: 50px 0px 50px 0px;
    -o-border-radius: 50px 0px 50px 0px;
}
.sales-24h .title p{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: right;
    margin: 0 0 0 8px;
}
.sales-24h .row{
    padding: 0px 20px 30px 20px;
}
.sales-24h .row .col{
    padding: 10px;
}
@media screen and (max-width: 600px) {
    .sales-24h .row .col {width: 50%;}
}
@media screen and (min-width: 601px) {
    @media screen and (max-width: 1079px) {
        .sales-24h .row .col {width: calc(100% / 3);}
    }
}
@media screen and (min-width: 1080px) {
    .sales-24h .row .col {width: 20%;}
}
.sales-24h .row .col > div{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.sales-24h .row .col > div img{
    width: 100%;
}
.sales-24h .row .col > div div{
    border: 1px solid #C4C4C4;
    border-radius: 0px 0px 50px 0;
    -webkit-border-radius: 0px 0px 50px 0;
    -moz-border-radius: 0px 0px 50px 0;
    -ms-border-radius: 0px 0px 50px 0;
    -o-border-radius: 0px 0px 50px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 0 0 14px 0;

}
.sales-24h .row .col > div div p{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #364B70;
    padding: 8px 4px 0 4px;
}
.sales-24h .row .col > div div span{
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #B92728;
    padding: 4px;
}

.electronics-sales{
    background: rgba(54, 75, 112, 0.1);
    padding: 20px 10px;
}
.electronics-sales .headers{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto 30px auto;
}
.electronics-sales .headers a{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    background-color: #B92728;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.electronics-sales .headers p{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}
.electronics-sales .headers p span{
    color: #B92728;
}
.electronics-sales .row .col{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.electronics-sales .row .col > img{
    width: 100%;
}
.electronics-sales .row .col > div{
    background-color: #fff;
    border: 1px solid #E5E9F2;
    padding: 10px 20px;
    text-align: right;
}
.electronics-sales .row .col > div > p{
    font-weight: 600;
    font-size: 11.7175px;
    line-height: 12px;
    color: #212529;
}
.electronics-sales .row .col > div .rating{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}
.electronics-sales .row .col > div .rating .stars{
    display: flex;
    align-items: center;
}
.electronics-sales .row .col > div .rating .stars img{
    width: 14px;
}
.electronics-sales .row .col > div .rating .stars span{
    font-size: 8.81166px;
    line-height: 10px;
    color: #515151;
    margin: 0 2px;
}
.electronics-sales .row .col > div .rating .text{
    font-size: 8.81166px;
    line-height: 9px;
    color: #515151;
}
.electronics-sales .row .col > div .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 6px 0;
}
.electronics-sales .row .col > div .card-footer p{
    font-weight: 700;
    font-size: 15.6233px;
    line-height: 16px;
    color: #B92728;
}
.electronics-sales .row .col > div .card-footer span{
    font-weight: 700;
    font-size: 11.7175px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #323232;
    margin: 0 4px 0 0;
}
.electronics-sales .row .col > div .card-footer a{
    font-weight: 700;
    font-size: 9.1136px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 4px 8px;
    background-color: #B92728;
    cursor: pointer;
    border-radius: 50px 0px 50px 0px;
    -webkit-border-radius: 50px 0px 50px 0px;
    -moz-border-radius: 50px 0px 50px 0px;
    -ms-border-radius: 50px 0px 50px 0px;
    -o-border-radius: 50px 0px 50px 0px;
}

.ramadan-sales{
    padding: 20px 10px;
}
.ramadan-sales .headers{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto 30px auto;
}
.ramadan-sales .headers a{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    background-color: #364B70;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.ramadan-sales .headers p{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}
.ramadan-sales .headers p span{
    color: #B92728;
}
.ramadan-sales .row{
    padding: 0px 20px 30px 20px;
}
.ramadan-sales .row .col{
    padding: 10px;
}
@media screen and (max-width: 600px) {
    .ramadan-sales .row .col {width: 50%;}
}
@media screen and (min-width: 601px) {
    @media screen and (max-width: 1079px) {
        .ramadan-sales .row .col {width: calc(100% / 3);}
    }
}
@media screen and (min-width: 1080px) {
    .ramadan-sales .row .col {width: 20%;}
}
.ramadan-sales .row .col div{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.ramadan-sales .row .col img{
    width: 100%;
}
.ramadan-sales .row .col p{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #364B70;
}

.sales2{
    padding: 16px 32px;
}
.sales2 .col div .text{
    padding: 16px;
}

.women-sales{
    padding: 0px 20px;
}
.women-sales .row{
    padding: 0px 20px 30px 20px;
}
.women-sales .row .col{
    padding: 10px;
}
.women-sales .row .col div{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.women-sales .row .col img{
    width: 100%;
}
.women-sales .row .col p{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #364B70;
}
.women-sales .title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B92728;
    padding: 8px 60px;
    flex-wrap: wrap;
    width: fit-content;
    margin: 40px auto;
    border-radius: 50px 0px 50px 0px;
    -webkit-border-radius: 50px 0px 50px 0px;
    -moz-border-radius: 50px 0px 50px 0px;
    -ms-border-radius: 50px 0px 50px 0px;
    -o-border-radius: 50px 0px 50px 0px;
}
.women-sales .title p{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: right;
    margin: 0 0 0 8px;
}