nav{
    padding: 4px 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 0px #E5E9F2;
}
nav .badge{
    width: 120px;
    margin: 0 2px;
}
nav select{
    direction: rtl;
    border: none;
    margin: 0 4px 0 0;
    background-color: #0000;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #212529;
}
nav select:nth-of-type(1){
    margin: 0 0 0 28px;
}
nav .flag{
    padding: 0 10px 0 0;
    margin: 0 0 0 -8px;
}
nav .logo{
    width: 56px;
}
nav .search{
    width: 54%;
}
nav .search input{
    width: 100%;
    height: 48px;
    direction: rtl;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 8px 24px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border: none;
    outline: none;
}
nav .search input::placeholder{
    font-family: 'Cairo';
    font-size: 16px;
    line-height: 24px;
    color: #a6a6a6;
}
nav .search img{
    position: absolute;
    top: 17px;
    left: 16px;
}

.second-nav{
    background: #B92728;
    box-shadow: 0px 1px 0px #E5E9F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px 16px;
    align-items: center;
}
.second-nav .items{
    display: flex;
    flex-wrap: wrap;
}
.second-nav .items .item{
    display: flex;
    flex-direction: column;
    padding: 4px 12px;
    margin: 0 4px;
    color: #fff;
}
.second-nav .items .item img{
    height: 20px;
}
.second-nav .items .item p{
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    margin: 2px 0 0 0;
}
.second-nav .tabs{
    display: flex;
    flex-wrap: wrap;
}
.second-nav .tabs .tab{
    display: flex;
    color: #fff;
    padding: 10px 16px;
    margin: 0 4px;
}
.second-nav .tabs span{
    height: 44px;
    width: 2px;
    background-color: #c4c4c4;
    margin: 0 6px 0 0;
}
.second-nav .tabs .menu{
    background-color: #0000;
    border: none;
    direction: rtl;
    padding: 6px 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.ads{
    background-color: #364B70;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ads span{
    font-family: 'Cairo';
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 1.5px;
}
.ads img{
    margin: 0 18px;
}

.banner > img{
    width: 100%;
}
.banner :is(.right, .left){
    position: absolute;
    top: 44.8%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8);
    display: grid;
    place-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.banner .left{
    left: 22px;
}
.banner .right{
    right: 22px;
}
.banner .tabs{
    display: flex;
    position: absolute;
    top: calc(100% - 24px);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
}
.banner .tabs div{
    width: 9px;
    height: 9px;
    background: #323232;
    opacity: 0.6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}
.banner .tabs div.active{
    background: #B92728;
    opacity: 1;
    width: 18px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.categories{
    padding: 10px;
    display: flex;
    align-items: flex-start;
}
.categories div{
    padding: 10px;
    text-align: center;
}
.categories div img{
    width: 100%;
}
.categories div p{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #212529;
}

.sales{
    background: rgba(121, 136, 151, 0.1);
    padding: 16px 10px;
    margin: 40px 0;
    display: flex;
    align-items: flex-start;
}
.sales .col{
    padding: 16px;
}
.sales .col > div{
    border-radius: 20px;
    display: flex;
    background: #B92728;
    padding: 8px;
}
.sales .col > div .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 2px;
}
.sales .col > div .text p{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}
.sales .col > div .text span{
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #fff;
    margin: 22px 0;
}

.countdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 120px);
    margin: 10px auto;
    padding: 20px 10px 0 10px;
    flex-wrap: wrap;
}
.countdown .timer{
    display: flex;
}
.countdown .timer > span{
    margin: 0 12px 0 8px;
    font-size: 50.2222px;
    line-height: 22px;
    color: #364B70;
}
.countdown .timer > div{
    text-align: center;
}
.countdown .timer > div p{
    background: #364B70;
    box-shadow: 0px 5.58025px 5.58025px rgba(0, 0, 0, 0.25);
    color: #fff;
    height: 36px;
    width: 60px;
    font-size: 33.4815px;
    line-height: 22px;
    display: grid;
    place-items: center;
    font-family: 'Syncopate';
}
.countdown .timer > div span{
    font-size: 19.5309px;
    line-height: 33px;
    color: #364B70;
}
.countdown .title{
    display: flex;
    align-items: center;
    background: #364B70;
    border-radius: 50px 0px;
    padding: 12px 60px;
}
.countdown .title p{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: right;
    margin: 0 0 0 8px;
}

.just-text{
    text-align: center;
}
.just-text > p:nth-of-type(1){
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;    
    color: #323232;
}
.just-text > p:nth-of-type(2){
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #B92728;
    margin: 12px 0;
}
.just-text > p:nth-of-type(2) span{
    color: #323232;
}
.just-text div{
    background: #FFFFFF;
    border: 2px dashed #B92728;
    border-radius: 50px;
    padding: 5px;
    width: 90%;
    max-width: 1200px;
    margin: 32px auto;
}
.just-text div p{
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    color: #FFFFFF;
    background: #B92728;
    border-radius: 50px;
    padding: 16px;
}